<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Controller Class -->
<bean id="flk" class="org.kol.ContructorApp.FlipkartController" autowire="constructor">


</bean>

<!-- Dependency -->

<bean id="any1" class="org.kol.ContructorApp.Cosmetics"></bean>
<bean id="any2" class="org.kol.ContructorApp.Furniture"></bean>
<bean id="any3" class="org.kol.ContructorApp.Electronics"></bean>





</beans>
 